apiVersion: v1
kind: ReplicationController
metadata:
  name: {{elk['name']}}
  labels:
    type: service
  namespace: {{namespace}}
spec:
  replicas: {{elk['replicas_number']}}
  selector:
    app: {{elk['name']}}
  template:
    metadata:
      labels:
        app: {{elk['name']}}
    spec:
      containers:
        - name: {{elk['name']}}
          image: elk
          env:
          - name: ES_HEAP_SIZE
            value: {{elk['es_heap_size']}}
          - name: LS_HEAP_SIZE
            value: {{elk['ls_heap_size']}}
          - name: LS_OPTS
            value: "--no-auto-reload"
          ports:
          - containerPort: {{elk['elasticsearch_port']}}
            name: elasticsearch
          - containerPort: {{elk['logstash_port']}}
            name: logstash
          - containerPort: {{elk['kibana_port']}}
            name: kibana
          - containerPort: {{elk['beat_port']}}
            name: beat
      imagePullSecrets:
        - name: {{docker_registry_key}}

