apiVersion: v1
kind: Service
metadata:
  name: {{auth['name']}}
  namespace: {{namespace}}
spec:
  ports:
    - name: {{auth['name']}}
      port: {{auth['port']}}
  externalIPs:
    - {{auth['host']}}
  selector:
    app: {{auth['name']}}

