apiVersion: v1
kind: Service
metadata:
  name: {{domain['name']}}
  namespace: {{namespace}}
spec:
  ports:
    - name: {{domain['name']}}
      port: {{domain['port']}}
  externalIPs:
    - {{domain['host']}}
  selector:
    app: {{domain['name']}}

