apiVersion: v1
kind: ReplicationController
metadata:
  name: {{verificator['name']}}
  labels:
    type: service
  namespace: {{namespace}}
spec:
  replicas: {{verificator['replicas_number']}}
  selector:
    app: {{verificator['name']}}
  template:
    metadata:
      labels:
        app: {{verificator['name']}}
    spec:
      containers:
        - name: {{verificator['name']}}
          image: verificator
          env:
          - name: KONG_ENDPOINT
            value: "http://{{kong['name']}}.{{namespace}}.svc.{{domain}}:kong['admin_api_port']}}"
          - name: DATABASE_URL
            value: "mysql2://{{mysql['user']}}:{{mysql['password']}}@{{mysql['name']}}.{{namespace}}.svc.{{domain}}/email-service"
          - name: KONG_API_UPSTREAM_URL
            value: "http://{{verificator['name']}}.{{namespace}}.svc.{{domain}}:{{verificator['port']}}"
          - name: RABBITMQ_CONNECTION_STRING
            value: "amqp://{{rabbitmq['user']}}:{{rabbitmq['password']}}@{{rabbitmq['password']}}.{{namespace}}.svc.{{domain}}:{{rabbitmq['port']}}"
          - name: RABBITMQ_PREPROCESSOR_QUEUE
            value: {{m_worker[preprocessor_queue]}}
          - name: RABBITMQ_SENDER_QUEUE
            value: {{m_worker['sender_queue']}}
          - name: REDIS_HOST
            value: "http://{{redis['name']}}.{{namespace}}.svc.{{domain}}"
          - name: REDIS_PORT
            value: "{{redis['port']}}"
          - name: REDIS_PASSWORD
            value: {{redis['pass']}}
          ports:
            - containerPort: {{verificator['port']}}
              name: verificator
          volumeMounts:
          - mountPath: {{verificator['mountPath']}}
            name:  {{verificator['volumeName']}}
      volumes:
        - name: {{verificator['volumeName']}}
          persistentVolumeClaim:
            claimName: {{verificator['pvc_name']}} 
      
      imagePullSecrets:
        - name: {{docker_registry_key}}

