apiVersion: v1
kind: Service
metadata:
  name: {{mongodb['name']}}
  namespace: {{namespace}}
spec:
  ports:
    - name: {{mongodb['name']}}
      port: {{mongodb['port']}}
  externalIPs:
    - {{mongodb['host']}}
  selector:
    app: {{mongodb['name']}}

