apiVersion: v1
kind: Service
metadata:
  name: {{postfix['name']}}
  namespace: {{namespace}}
spec:
  ports:
    - name: smtp
      port: {{postfix['smtp_port']}}
    - name: smtptls
      port: {{postfix['smtp_tls_port']}}
  externalIPs:
    -  {{postfix['host']}}
  selector:
    app:  {{postfix['name']}}

