apiVersion: v1
kind: Service
metadata:
  name: {{log['name']}}
  namespace: {{namespace}}
spec:
  ports:
    - name: {{log['name']}}
      port: {{log['port']}}
  externalIPs:
    - {{log['host']}}
  selector:
    app: {{log['name']}}

