apiVersion: v1
kind: Service
metadata:
  name: {{haraka['name']}}
  namespace: {{namespace}}
spec:
  ports:
    - name: smtp
      port: {{haraka['smtp_port']}}
    - name: smtptls
      port: {{haraka['smtp_tls_port']}}
  externalIPs:
    - {{haraka['host']}}
  selector:
    app: {{haraka['name']}}

