apiVersion: v1
kind: ReplicationController
metadata:
  name: {{haraka['name']}}
  labels:
    app: {{haraka['name']}}
  namespace: {{namespace}}
spec:
  replicas: {{haraka['replicas_number']}}
  selector:
    app: {{haraka['name']}}
  template:
    metadata:
      labels:
        app: {{haraka['name']}}
    spec:
      containers:
        - name: {{haraka['name']}}
          env:
            - name: MYSQL_HOST
              value: {{mysql['name']}}.{{namespace}}.svc.{{domain}}
            - name: MYSQL_PORT
              value: "{{mysql['port']}}"
            - name: MYSQL_DATABASE
              value: {{ms_auth_service['database']}}
            - name: MYSQL_USERNAME
              value: {{mysql['user']}}
            - name: MYSQL_PASSWORD
              value: {{mysql['pass']}}
            - name: REJECTUNAUTHORIZED
              value: "false"
            - name: RABBITMQ_HOST
              value: {{rabbitmq['name']}}.{{namespace}}.svc.{{domain}}
            - name: RABBITMQ_PORT
              value: "{{rabbitmq['port']}}"
            - name: MYSQL_DATABASE
              value: {{ms_auth_service['database']}}
            - name: RABBITMQ_USERNAME
              value: {{rabbitmq['user']}}
            - name: RABBITMQ_PASSWORD
              value: {{rabbitmq['pass']}}
            - name: RABBITMQ_EXCHANGE
              value: {{rabbitmq['haraka']['exchange']}}
            - name: RABBITMQ_QUEUE
              value: {{rabbitmq['haraka']['queue']}}
            - name: RABBITMQ_DELIVERY_MODE
              value: "{{rabbitmq['haraka']['delivery_mode']}}"
            - name: RABBITMQ_CONFIRM
              value: "{{rabbitmq['haraka']['confirm']}}"
            - name: RABBITMQ_DURABLE
              value: "{{rabbitmq['haraka']['durable']}}"
            - name: RABBITMQ_AUTO_DELETE
              value: "{{rabbitmq['haraka']['auto_delete']}}"
            - name: RABBITMQ_EXCHANGE_TYPE
              value: {{rabbitmq['haraka']['exchange_type']}}
            - name: RABBITMQ_ROUTING
              value: {{rabbitmq['haraka']['routing']}}
            - name: M_WORKER_TLS
              value: "{{rabbitmq['haraka']['m_worker_tls']}}"
            - name: M_WORKER_CONNECT_URI
              value: {{validator['name']}}.{{namespace}}.svc.{{domain}}\/email
          ports:
            - containerPort: {{haraka['smtp_port']}}
              name: smtp
            - containerPort: {{haraka['smtp_tls_port']}}
              name: smtptls
          image: haraka
          command: ["pm2","start","haraka.js"]
      imagePullSecrets:
        - name: {{docker_registry_key}}


